body {
    font-family: Arial;
    margin-top: 40px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 0;
    background: rgb(180, 201, 222);
    background: linear-gradient(90deg, rgba(180, 201, 222, 1) 5%, rgba(84, 140, 195, 1) 97%);
}
.name-info {
    font-size: 14px;
    background-color: #2ecc71;
    color: white;
    display: inline;
    align-self: center;
    padding-top:10px;
    padding-bottom: 27px;
}
#name{
    position: absolute;
    padding-top:40px;
    padding-left:10px;
}
#photo-icon {
    border-radius:50%;
    width: 50px;
    margin:auto;
    padding-top:20px;
    padding-left:15px;
}

header {
    display: grid;
    grid-template-columns: 200px 2fr;
    height: 90px;
    background-color: white;
    box-shadow: 2px -2px 2px rgba(0,0,0,0.1);
}
.header-icons{
    display: flex;
    justify-content: space-between;
  
    border-bottom: 1px solid grey;
}
#icons-1{
    align-self: center;
    padding-left: 25px;
}
#icons-2{
    align-self: center;
}
#header-input{
    height:30px;
    border: none;
    color:#95a5a6;
    
}
#icons-3{
    align-self: center;
    
}
.main-grid{
    display: grid;
    grid-template-columns: 200px 2fr;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom:30px;
}
.side-bar{
    background-color: #34495e;
   
}
.main-page{
    background-color: #ecf0f1;
    height:1000px;
}
.side-bar-list{
    list-style: none;
    font-weight: bold;
    color:#95a5a6;
    font-size: 20px;
    padding-left: 0;
}
.side-bar-list li{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    
}
.side-bar-list li:hover{
    color:white;
    background-color: #243342;
   
}
.list-icons{
    padding-right:10px;
}
.page-header-info{
    height: 150px;
    display: flex;
    justify-content: space-between;
}
#photo-icon2 {
    border-radius: 51px;
    width: 90px;
    height: 90px;
   
    padding-top: 20px;
    padding-left: 15px;
}
.students-stats{
    display: flex;
    justify-content: start;
    width:500px;
   }
.stud-info{
    padding-left: 30px;
    
}
.name-of-student{
    color:#2c3e50;
    font-weight: bold;
    font-size: 24px;
    margin-bottom:5px;
    
}
.students-settings-icons{
    padding-top:45px;
    padding-right: 45px;
}
.side-bar-selection{
    color:#2c3e50;
    margin-left:20px;
    margin-right:20px;
    font-size:15px;
    font-weight:bold;
}
.side-bar-selection:hover{
    text-decoration: underline;
    text-decoration-color: #27ae60;
    text-decoration-thickness:3px;
}
.page-header{
    background-color: white;
    border: 1px solid grey;
}
.select-bar{
    padding-left: 20px;
}
.grogress-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    padding:30px;
   
}
.grogress-first-section{
    text-align: center;
    color:#e67333;
    padding-top:20px;
    padding-left:15px;
    background-color: white;
    padding-right:10px;
}
.grogress-second-section{
    text-align: center;
    color: #95a5a6;
    padding-top: 20px;
    padding-right: 20px;
    background-color:#ecf0f1;
}
.done-cource{
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin: 0;
    font-size: 10px;
    color: #7f8c8d;
     border-bottom: 1px solid grey;
    background-color: white;
}
.Show-more{
    margin: 0;
    padding-bottom: 10px;
    text-align: right;
    color: #2c3e50;
    font-size: 12px;
    background-color: white;
}
.num-of-messages{
    margin-right: 10px;
    margin-left:3px;
}
.rectangle {
    height: 18px;
    width: 35px;
    background-color: #555;
    position: absolute;
    background-color:#1abc9c;
    margin-top:15px;
}
.percentag-of-exam{
    margin-right: 10px;
    margin-left: 3px;
}
.account-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left:30px;
    padding-right: 30px;
}
.chart-style{
    width: 75%;
    
}
.last-month{
    display: inline;
    text-align: center;
}
.exp-info{
    padding:25px;
    color: #7f8c8d;
    background-color: white;
    border: 0.5px solid grey;
   
}
.last-info{
    padding-top: 10px;
    padding-left:15px;
    padding-right: 0;
    margin: 0;
    
}
#friend-title{
    color:#95a5a6;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
.FRIEND-ACTIVITY{
    border: 1px solid grey;
    background-color:white;
}
.friend-icon{
    width:30px;
    border-radius: 15px;
    position: absolute;
    margin-top: -10px;
}
.friend{
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom:25px;
   
    align-self: center;
    color:#7f8c8d;
    font-size: 11px;
}
.friends-name{
    color:#3498db;
    margin-left:40px;
    margin-right: 10px;
    
}
.friends-act{
    color:#2c3e50;
    font-weight: bold;
}
.time{
    align-self: center;
    color: #7f8c8d;
    margin-right: 7px;
}
.show-more-list{
    position: absolute;
    background-color: white;
    width: 250px;
    list-style-type:none;
    font-size: 10px;
    display: none;
}
.show-more-list li{
    border-bottom: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
}